<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <title>{{page.title}}</title>
</head>

<body>
    {{content}}

    <footer>
        <div>
            <a href="#"> logo </a>
            <a href="#"> home </a>
            <a href="#"> info </a>
            <a href="#"> tickets </a>
            <a href="#"> reservations </a>
        </div>
        <div>
            <p> 233 Butler St. Brooklyn NY 11217</p>
        </div>
        <div>
            <a href ="#"> IG </a>
            <a href ="#"> FB </a>

        </div>
    </footer>
</body>

</html>